<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>BUJI PAC4J DEMO %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.pac4j.core.engine" level="DEBUG" />
  <logger name="org.pac4j.core.adapter" level="DEBUG" />
  <logger name="io.buji.pac4j" level="INFO" />

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
